<mat-card>
    <br>

    <mat-card-title>
    </mat-card-title>

    <mat-card-content>
        <h2>Candidato</h2>

        <form [formGroup]="formCandidato" (ngSubmit)="onSave()">
       
            <p>
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input formControlName="nome" required type="text" matInput placeholder="Nome" >
                </mat-form-field>
            
                <mat-form-field>
                    <mat-label>Nascimento</mat-label>
                    <input formControlName="nascimento" required matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo" required [disabled]="readonly">
                        <mat-option value="">Selecione</mat-option>
                        <mat-option value="M">Masculino</mat-option>
                        <mat-option value="F">Feminino</mat-option>
                    </mat-select>
                </mat-form-field>
           
                <mat-form-field>
                    <mat-label>Nota</mat-label>
                    <input formControlName="nota" required matInput type="number" placeholder="Nota" #inputNota />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Logradouro</mat-label>
                    <input formControlName="logradouro" matInput type="text" placeholder="Logradouro"
                        #inputLogradouro />
                </mat-form-field>
          
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input formControlName="bairro" matInput type="text" placeholder="Bairro" #inputBairro />
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input formControlName="cidade" matInput type="text" placeholder="Cidade" #inputCidade />
                </mat-form-field>
           
                <mat-form-field>
                    <mat-label>UF</mat-label>
                    <input formControlName="uf" matInput type="text" placeholder="UF" maxlength="2" #inputUf />
                </mat-form-field>
            </p>
            <p *ngIf="candidato">
                Criado em: {{ candidato.data_criacao }}
            </p>

            <div *ngIf="!this.readonly" >
                <button type="submit" mat-raised-button color="primary">Salvar</button>
            </div>
        </form>      

    </mat-card-content>
</mat-card>