:host {
    display: flex;
    justify-content: center;
    padding: 10% 10% 10% 10%;
  }
  

  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  mat-form-field{
    width: 400px;
  }
  
  .error {
    padding: 16px;
    color: white;
    background-color: red;
  }
  
  .button-group {
    display: flex;
  }

  .button {
    width: 50%;
    display: block;
  }
  