mat-form-field {
  width: 95%;
}

.button-filter{
  min-width: 130px !important;
  min-height: 40px !important;
}

.icons-row{
  text-align: end;
}

.mat-column-colunm-options {
  width: 15%;
  text-align: center;
  font-weight: bold;
}