<app-layout></app-layout>
<div class="container">

  <h2>Candidatos</h2>

  <h2>
    <button mat-raised-button color="primary" aria-label="Example icon button with a bookmark icon">
      Adicionar
      <mat-icon>add_circle</mat-icon>
    </button>
  </h2>
  <br>

  <mat-grid-list cols="5" rowHeight="5:1">

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="candidatoFilters.nome" matInput placeholder="Nome" #inputNome />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Nascimento</mat-label>
        <input [(ngModel)]="candidatoFilters.nascimento" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select [(ngModel)]="candidatoFilters.sexo">
          <mat-option value="">Selecione</mat-option>
          <mat-option value="M">Masculino</mat-option>
          <mat-option value="F">Feminino</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Nota</mat-label>
        <input [(ngModel)]="candidatoFilters.nota" matInput type="number" placeholder="Nota" #inputNota />
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button class="button-filter" type="button" mat-raised-button color="primary"
        (click)="getAllCandidatos()">Filtrar</button>

      <button class="button-filter" type="button" mat-raised-button color="default"
        (click)="clearFilterCandidato()">Limpar</button>
    </mat-grid-tile>
  </mat-grid-list>

  <br>

  <table mat-table [dataSource]="candidatos" class="mat-elevation-z8">

    <ng-container matColumnDef="colunm-id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-nascimento">
      <th mat-header-cell *matHeaderCellDef> Nascimento </th>
      <td mat-cell *matCellDef="let element"> {{element.nascimento}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-sexo">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-nota">
      <th mat-header-cell *matHeaderCellDef> Nota </th>
      <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-logradouro">
      <th mat-header-cell *matHeaderCellDef> Logradouro </th>
      <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-bairro">
      <th mat-header-cell *matHeaderCellDef> Bairro </th>
      <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-cidade">
      <th mat-header-cell *matHeaderCellDef> Cidade </th>
      <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-uf">
      <th mat-header-cell *matHeaderCellDef> UF </th>
      <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
    </ng-container>

    <ng-container matColumnDef="colunm-options">
      <th mat-header-cell *matHeaderCellDef>
        Ações
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="icons-row">
          <button aria-label="Visualizar" type="button" mat-icon-button (click)="getCandidato(element.id, false)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button aria-label="Editar" type="button" mat-icon-button (click)="getCandidato(element.id, true)">
            <mat-icon>edit_note</mat-icon>
          </button>
          <button aria-label="Excluir" type="button" mat-icon-button (click)="deleteCandidato(element.id)">
            <mat-icon>delete</mat-icon>
          </button>         
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</div>